<div class="app-header-left">
  <app-search-box (click)="hideMegamenu()"></app-search-box>
  <ul [ngStyle]="{'opacity': value ? '0' : '1'}" class="header-megamenu nav">
  
    <li class="nav-item">
      <div class="btn-group" ngbDropdown>
        <button class="btn btn-link" ngbDropdownToggle>
          <span>
            <div class="badge badge-pill badge-danger ml-0 mr-2">4</div>
            Settings
          </span>
        </button>
        <div ngbDropdownMenu>
          <div class="dropdown-menu-header">
            <div class="dropdown-menu-header-inner bg-focus">
              <div class="menu-header-image opacity-2 dd-header-bg-5"></div>
              <div class="menu-header-content">
                <h5 class="menu-header-title">Overview</h5>
                <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
              </div>
            </div>
          </div>
          <div class="scroll-area-xs">
            <perfect-scrollbar [autoPropagation]="true">
              <h6 class="dropdown-header">Key Figures</h6>
              <button type="button" class="dropdown-item">Service Calendar</button>
              <button type="button" class="dropdown-item">Knowledge Base</button>
              <button type="button" class="dropdown-item">Accounts</button>
              <div class="dropdown-divider"></div>
              <button type="button" class="dropdown-item">Products</button>
              <button type="button" class="dropdown-item">Rollup Queries</button>
            </perfect-scrollbar>
          </div>
          <ul class="nav flex-column">
            <li class="nav-item-divider nav-item"></li>
            <li class="nav-item-btn nav-item">
              <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
            </li>
          </ul>
        </div>
      </div>
    </li>    
  </ul>
</div>