<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHoverMouseIn()"
  (mouseout)="sidebarHoverMouseOut()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar();">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true" class="scroll-container"  [scrollIndicators]="true"
        style="max-width: 600px; max-height: 600px;">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-item">
              <a routerLink="/dashboard" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                <span class="vsm-title">Dashboard</span>
              </a>
            </div>          
        <div class="vsm-item">
          <a routerLink="/report/sales" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
            <span class="vsm-title">Graphs</span>
          </a>
        </div>


            
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>